.view-listing-container {
  /* display: flex;
  flex-direction: column; */
  border: 1px solid green;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  width: 75%;
  margin: 0 auto;
  padding: 15px 0;
}

.view-listing-info {
  width: 40%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}
