.search-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-results {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}
